<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApnaPortfolio</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

    <!-- Navbar -->
    <div class="navbar">
        <h2>ApnaPortfolio</h2>
        <div>
            <a href="/signin">Sign In</a>
            <a href="/signup">Sign Up</a>
        </div>
    </div>

    <div class="tooltip" id="tooltip" style="display: none;"></div>

    <div class="draggable-div" id="info" >
        <div class="color-picker">
            <input type="color" id="bgColor0" value="#444444">
            <input type="color" id="textColor0" value="#08f34e">
        </div>
        <textarea name="infos" id="textinfo"></textarea>
    </div>

    <!-- Draggable Divs -->
    <div class="draggable-div" id="draggable1">
        <div class="color-picker">
            <input type="color" id="bgColor1" value="#444444">
            <input type="color" id="textColor1" value="#ffffff">
        </div>
        <textarea name="infos" id="textinfo1">Drag Me</textarea>
    </div>


    <div class="draggable-div" id="draggable2" style=" left: 250px;">
        <div class="color-picker">
            <input type="color" id="bgColor2" value="#444444">
            <input type="color" id="textColor2" value="#ffffff">
        </div>
        <textarea name="infos" id="textinfo2">Drag Me Too</textarea>
    </div>

    <div class="draggable-div" id="draggable3" style=" left: 950px;">
        <div class="color-picker">
            <input type="color" id="bgColor3" value="#444444">
            <input type="color" id="textColor3" value="#ffffff">
        </div>
        <textarea name="infos" id="textinfo3">Drag Me Too</textarea>
    </div>

    <div class="draggable-div" id="draggable4" style=" left: 1150px;">
        <div class="color-picker">
            <input type="color" id="bgColor4" value="#444444">
            <input type="color" id="textColor4" value="#ffffff">
        </div>
        <textarea name="infos" id="textinfo4">Drag Me Too</textarea>
    </div>

<!-- Footer -->

<div class="footer">
    <p>&copy; 2024 ApnaPortfolio. All Rights Reserved.</p>
    <div class="footer-links">
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
        <a href="/privacy">Privacy Policy</a>
    </div>
</div>

    <!-- Interact.js Script for Draggable and Resizable Divs -->
    <script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.11/dist/interact.min.js"></script>

<script src="home.js"></script>
</body>
</html>
