<% if (html==='No') { %>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/show.css">
    </head>
    <body>
        
    </body>
    </html>
<% } else { %>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MyPortfolio</title>
        
        <link rel="stylesheet" href="/userpage.css">
        <link rel="stylesheet" href="/show.css">
    </head>
    <body>
        <main id="editor" style="background-color: <%= css === 'No' ? '#ffffff' : css %>; ">
            <% if (html === 'No') { %>
                <!-- Dynamic fields will appear here -->
            <% } else { %>
                <%- html %> 
            <% } %>
        </main>
        <script src="/show.js"></script>
    </body>
    </html>
<% } %>

