<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPortfolio</title>
    <link rel="stylesheet" href="userpage.css">
</head>
<body>
    <header>
        <nav>
            <button id="addText">Add Text Field</button>
            <button id="addImage">Add Image Field</button>
        </nav>
    </header>

    <input type="color" id="bgcolor">
    <main id="editor">
        
        <!-- Dynamic fields will appear here -->
    </main>

    <script src="https://cdn.jsdelivr.net/npm/interactjs@1.10.11/dist/interact.min.js"></script>
    <script src="userpage.js"></script>
</body>
</html>
