body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: auto;
    width: 100%;
    overflow-x: hidden;
}
#editor{
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 99%;
    height: 100%;
    margin: 0;
}
textarea {
    resize: none; /* Prevents the textarea from being resized */
}
.dragger , .transparent, .backcolor, .textcolor, .removebtn, .textC, .textD, .textAlign {
    display: none;
}
