body {
    font-family: Arial, sans-serif;
}
header {
    background: #333;
    border-radius: 2rem;
    color: white;
    padding: 1em;
    text-align: center;
}
nav button {
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
}
#bgcolor{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right:20px;
}
#editor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 80vh;
    height: auto;
    border: 1px solid #ddd;
    margin: 20px auto;
    overflow: auto;
}
.draggable{
    width: 150px;
    height: 150px;
    background-color: #444;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    position: relative;
}
.dragger {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    top: -20px; /* Center the drag handle above the field */
    right: -10px; /* Center the drag handle above the field */
    cursor: grab;
    outline: auto;
}
.transparent{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #a9cab3;
    position: absolute;
    top: -20px; /* Center the drag handle above the field */
    right: 10px; /* Center the drag handle above the field */
    cursor: pointer;
}
.backcolor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333333;
    position: absolute;
    top: -20px; /* Center the drag handle above the field */
    right: 30px; /* Center the drag handle above the field */
    cursor: pointer;
}
.textcolor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    top: -20px; /* Center the drag handle above the field */
    right: 50px; /* Center the drag handle above the field */
    cursor: pointer;
}
